<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Flow</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/background.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <canvas id="bg"></canvas>

    <!-- Bootstrap starts here -->
    <div class="container px-5 py-5 mx-auto"> 
        <div class="row align-items-start g-lg-5 py-5"> 

            <!-- TITLE  -->
            <div class="col-lg-6 text-lg-startd-flex flex-column" style="min-height: 400px;"> 
                <h1 class="display-1 fw-bold lh-1 mb-5 title">RATE<br>FLOW</h1> 
                <p class="col-lg-10 fs-5 tag-line">Real-Time Currency Converter</p> 

                <div class="mt-auto">
                    <% if (locals.lastUpdated) { %>
                        <p class="opacity-25 small text-white">Last updated: <%= lastUpdated %></p>
                    <% } %>
                </div>
            </div> 
            
            <!-- FORM -->
            <div class="col-lg-6">
                <div class="glass-card rounded-5 p-4 shadow">
                    <form action="/convert" method="POST">
                        <p class="text-center opacity-50 mb-3 small">CONVERT HERE</p>

                        <!-- FROM -->
                        <p class="opacity-50 mt-4">FROM</p>
                        <div class="d-flex gap-2 mb-2">
                            <select name="fromCurrency" id="fromCurrency" style="width: 40%;">
                                <option value=""></option>
                                <% currencies.forEach(([code,name]) => { %>
                                    <option value="<%= code %>" <%= locals.fromCurrency === code ? 'selected' : '' %>><%= code %> - <%= name %></option>
                                <% }) %>
                            </select>
                            <input type="number" name="amount" id="amount" class="form-control" placeholder="0" value="<%= locals.amount || '' %>" required>
                        </div>

                        <!-- SWAP BUTTON -->
                        <div class="text-center my-2 mt-4">
                            <button type="button" id="reverseBtn" class="btn">
                                <i class="bi bi-arrow-down-up"></i>
                            </button>
                        </div>

                        <!-- TO -->
                        <p class="opacity-50">TO</p>
                        <div class="d-flex gap-2 mb-3">
                            <select name="toCurrency" id="toCurrency" style="width: 40%;">
                                <option value=""></option>
                                <% currencies.forEach(([code, name]) => { %>
                                    <option value="<%= code %>" <%= locals.toCurrency === code ? 'selected' : '' %>><%= code %> - <%= name %></option>
                                <% }) %>
                            </select>
                            <input type="text" class="form-control" placeholder="0" value="<%= locals.convertedAmount || '' %>" disabled>
                        </div>

                        <!-- LIVE RATE -->
                        <% if (locals.convertedAmount) { %>
                            <p class="text-center opacity-50 small">1 <%= fromCurrency %> = <%= rate %> <%= toCurrency %></p>
                        <% } %>

                        <!-- CONVERT BUTTON -->
                        <div class="d-grid mx-auto" style="width: 50%;">
                            <button type="submit" class="btn convert-btn rounded-5">CONVERT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    <script src="/js/background.js"></script>
</body>
</html>