<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Flow</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Rate Flow</h1>
    <h2>Currency Converter</h2>

    <form action="/convert" method="POST">
        <input type="number" name="amount" id="amount" placeholder="Amount" required>

        <!-- FROM CURRENCY -->
        <select name="fromCurrency" id="fromCurrency">
            <option value=""></option>
            <% currencies.forEach(([code, name]) => { %>
                <option value="<%= code %>" <%= locals.fromCurrency === code ? 'selected' : '' %>><%= code %> - <%= name %></option>
            <% }) %>
        </select>

        <!-- REVERSE BUTTON -->
        <button type="button" id="reverseBtn">🔄</button>

        <!-- TO CURRENCY -->
        <select name="toCurrency" id="toCurrency">
            <option value=""></option>
            <% currencies.forEach(([code, name]) => { %>
                <option value="<%= code %>" <%= locals.toCurrency === code ? 'selected' : '' %>><%= code %> - <%= name %></option>
            <% }) %>
        </select>

        <!-- CONVERT BUTTON -->
        <button type="submit">Convert</button>


        <!-- RESULT BUTTON -->
        <% if (locals.convertedAmount) { %>
            <h2><%= amount %> <%= fromCurrency %> = <%= convertedAmount %> <%= toCurrency %></h2>
        <% } %>

        <% if (locals.error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
    </form>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        // search bar
        $(document).ready(function() {
            $('#fromCurrency, #toCurrency').select2({
                placeholder: "Select currency",
                allowClear: true
            });
        });

        // reverse button
        $("#reverseBtn").on("click", function() {
            const from = $("#fromCurrency").val();
            const to = $("#toCurrency").val();

            $("#fromCurrency").val(to).trigger("change");
            $("#toCurrency").val(from).trigger("change");
        })
    </script>
</body>
</html>